/* FEATURES */

.features {
    background: url('../img/features/features-bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: inherit;
    display: flex;
    align-items: center;
}

.features__container {
    text-align: center;
}

.features__title {
    color: $black;
}

.features__content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.features__item {
    width: calc((100% - 45px) / 3);
}

.features__pic {
    margin: 0 auto;
}

.features__item-title {
    margin-top: 32px;
    font-family: 'lifehack';
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    color: $black;
}

.features__item-desc {
    margin-top: 25px;
    font-family: 'ubuntu';
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: #6a6a6a;
    word-wrap: break-word;
    line-height: 150%;
}