.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111111;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20px) 0;
}

.footer__address {
    font-family: 'ubuntu';
    font-weight: 300;
    font-style: normal;
    font-size: rem(14px);
    color: $white;
    margin-bottom: rem(14px);
}

.footer__phone {
    font-family: 'ubuntu';
    font-weight: 700;
    font-style: normal;
    font-size: rem(14px);
    color: $orange;
}

.footer__socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__item {
    margin-left: rem(20px);

    &:first-child {
        margin-left: 0;
    }
}

.footer__img {
    width: rem(20px); height: rem(20px);
}