$orange: #e45028;
$white: #fff;
$black: #2f3234;
$yellow: #f9b43b;
$grey: #626262;

html {
    font-size: 16px;
}

@function rem($px) {
    @return $px / 16px + 0rem;
}

@import "normalize.scss";
@import "fonts.scss";
@import "media.scss";
@import "base.scss";
@import "header.scss";
@import "welcome.scss";
@import "features.scss";
@import "slider.scss";
@import "reviews.scss";
@import "work.scss";
@import "delivery.scss";
@import "team.scss";
@import "menu.scss";
@import "map.scss";
@import "footer.scss";
@import "hamburger.scss";
@import "pagination.scss";
@import "modal.scss";
@import "popup.scss";