$orange: #e45028;
$white: #fff;
$black: #2f3234;

@import "normalize.css";
@import "fonts.scss";
@import "base.scss";
@import "header.scss";
@import "welcome.scss";
@import "features.scss";
@import "reviews.scss";
@import "pagination.scss"