@import url(normalize.css);
@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  font-size: 18px;
  text-decoration: none; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden; }

ul, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  width: 940px;
  margin: 0 auto; }

.button {
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #e45028;
  font-family: 'ubuntu';
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }

/* HEADER */
.header__wrapper {
  padding-top: 15px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: inherit; }

.header__logo {
  width: 96px;
  height: 69px; }

.header__nav {
  margin-left: auto; }

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.header__nav-item:before {
  content: '';
  display: inline-block;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 11px;
  margin-left: 11px; }

.header__nav-item--first:before {
  display: none; }

.header__nav-link {
  font-family: 'ubuntu';
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase; }

.header__order {
  margin-left: 15px; }

/* WELCOME */
.welcome {
  background: url("../img/welcome/background.jpg") center center no-repeat;
  background-size: cover;
  overflow: inherit;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.welcome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.banner__img {
  width: 451px;
  height: 424px; }

.banner__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 13px; }

.title {
  font-family: 'gagalin';
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  color: #f9b43b; }

.banner__text {
  font-family: 'lifehack';
  font-weight: 500;
  font-style: normal;
  font-size: 65px;
  color: #fff; }

.welcome__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: 40px; }

.welcome__arrow-link {
  width: 29px;
  height: 14px;
  background: url(../img/welcome/arrow-scroll.png); }

/* FEATURES */
.features {
  background: url("../img/features/features-bg.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.features__container {
  text-align: center; }

.features__title {
  color: #2f3234; }

.features__content {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.features__item {
  width: calc((100% - 70px) / 3); }

.features__pic {
  margin: 0 auto; }

.features__item-title {
  margin-top: 32px;
  font-family: 'lifehack';
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #2f3234; }

.features__item-desc {
  margin-top: 25px;
  font-family: 'ubuntu';
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #6a6a6a;
  word-wrap: break-word;
  line-height: 150%; }

/* REVIEWS */
.reviews {
  height: 100vh; }

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%; }

.reviews__item {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  height: 50%;
  position: relative; }

.reviews__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.reviews__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .reviews__hover:hover {
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.reviews__title {
  font-family: 'gagalin';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #fff; }

.reviews__desc {
  font-family: 'ubuntu';
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #fff;
  line-height: 24px; }

.reviews__button-link {
  display: inline-block;
  background-color: #2f3234; }

/* PAGINATION */
.pagination {
  position: fixed;
  top: 90px;
  right: 50px;
  z-index: 10; }

.pagination__link {
  display: block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 3px;
  position: relative; }
  .pagination__link--active {
    border-color: #fff; }
  .pagination__link:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
