.menu {
    background: url('/img/menu/menu-bg.jpg') center center no-repeat;
    background-size: cover;
    overflow: inherit;
    height: 100vh;
    position: relative;
}

.menu__title {
    position: absolute;
    top: rem(110px);
    left: rem(95px);
    color: $white;
}

.menu__accordeon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    max-width: 50%;

    @include tablets {
        @if menu__item--active {
            max-width: 100%;
        }
    }

    @include phones {
        @if menu__item--active {
            max-width: 100%;
        }
    }
}

.menu__item {
    display: flex;
    &--active {
        .menu__desc {
            width: 100%;
            overflow: visible;
            background-color: rgba(49, 52, 54, .9);
            padding: rem(60px) rem(35px);
            line-height: 1.5;
        }
    }
}

.menu__pic {
    width: rem(80px);
    display: flex;
    justify-content: center;

    &--meat {
        background: url('/img/menu/for-meat-eater.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &--veg {
        background: url('/img/menu/for-vegetarian.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    &--diet {
        background: url('/img/menu/for-dietary.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.menu__subtitle {
    font-size: rem(40px);
    color: $white;
    writing-mode: tb-rl;
    transform:rotate(180deg);
    padding-top: rem(40px);
}

.menu__desc {
    width: 0; 
    overflow: hidden;
    font-family: 'ubuntu';
    font-weight: 300;
    font-style: normal;
    font-size: rem(14px);
    color: $white;

    @include phones {
        font-size: rem(16px);
        line-height: 200%;
    }
}