.slider {
    height: 100vh;
    overflow: inherit;
    background-image: linear-gradient(#f9b43b, #eb8d38, #f9b43b);
    display: flex;
}

.slider__container {
    position: relative;
    display: flex;
    align-items: center;

    @include tablets {
        max-width: rem(650px);
    }

    @include phones {
        max-width: rem(480px);
    }
}

.slider__prev {
    position: absolute;
    left: rem(-40px);
    &-btn {
        .arrow {
            transform: rotate(90deg);
        }
    }
}

.slider__next {
    position: absolute;
    right: rem(-40px);
    &-btn {
        .arrow {
            transform: rotate(-90deg);
        }
    }
}

.slider__content {
    display: flex;
    justify-content: center;

    @include tablets {
        flex-direction: column;
        align-items: center;
    }
}

.slider__img, .slider__desc {
    flex-basis: 50%;

    @include tablets {
        position: relative;
    }
}

.slider__main-img {
    width: 100%;
}



.slider__pic {
    
    &-up {
        position: relative;
        height: rem(90px);
        width: rem(90px);
        border-radius: rem(5px);
        background-color: #f08c33;
        display: flex;
        justify-content: center;

        .slider__pic-item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .slider__pic-text {
            margin-top: rem(10px);
        }
    }

    &-bottom {
        display: flex;

        .slider__pic-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
        }
        .slider__pic-text {
            opacity: .5;
        }

        @include tablets {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.slider__dropdown {
    position: absolute;
    top: 0;
    left: 100%;
    padding: rem(20px) rem(20px);
    background-color: $white;
    opacity: .9;
    border-radius: rem(5px);
    min-width: rem(270px);
    display: none;
    flex-direction: column;

    &-name {
        margin-right: auto;
        margin-left: rem(25px);
        font-family: 'ubuntu';
        font-weight: 500;
        font-style: normal;
        font-size: rem(14px);
        color: $black;
    }

    &-weight {
        font-family: 'ubuntu';
        font-weight: 400;
        font-style: normal;
        font-size: rem(14px);
        color: $black;
    }
}

.slider__dropdown-item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(15px);

    &:last-child {
        margin-bottom: 0;
    }
}

.slider__dropdown-pic {
    width: rem(44px);
    height: rem(40px);
}

.slider__pic--burger {
    width: rem(46px);
    height: rem(44px);
}

.slider__pic--kkal {
    width: rem(60px);
    height: rem(60px);
    opacity: .5;
    margin-bottom: rem(5px);
}

.slider__pic-text {
    font-family: 'gagalin';
    font-weight: 400;
    font-style: normal;
    font-size: rem(14px);
    color: $white;

    &--mid {
        font-size: rem(20px);
        position: absolute;
        top: 35%;
        margin-top: 0;
    }
}

.slider__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(20px);

    @include tablets {
        margin-left: 0;
        margin-top: rem(20px);
        align-items: center;
        text-align: center;
    }
}

.slider__title {
    color: $white;
    padding-bottom: rem(55px);
    line-height: 90%;

    @include tablets {
        max-width: rem(350px);
    }
}

.slider__desc-text {
    font-family: 'ubuntu';
    font-weight: 400;
    font-style: normal;
    color: $white;
    font-size: rem(14px);
    letter-spacing: rem(1px);
    line-height: 170%;

    /* @include tablets {
        max-width: rem(570px);
    } */
}

.slider__order {
    display: flex;
    justify-content: flex-start;
    margin-top: rem(35px);
    align-items: baseline;
}

.slider__order {
    font-family: 'gagalin';
    font-weight: 400;
    font-style: normal;
    color: $orange;

    .slider__price {
        font-size: rem(72px);
        margin-right: rem(10px);
    }
    .slider__cur {
        font-size: rem(30px);
        margin-right: rem(30px);
    }
}