.team {
    background: url('../img/team/team-bg.jpg') center center no-repeat;
    background-size: cover;
    overflow: inherit;
    height: 100vh;
    position: relative;
}

.team__container {
    position: absolute;
    width: 45%;
    background-color: rgba(49, 52, 54, .9);
    top: 0;
    right: 0;
    bottom: 0;
    padding: 113px 95px;
}

.team__accordeon {
    margin-top: 55px;
}

.team__name {
    font-family: 'gagalin';
    font-weight: 400;
}

.team__item {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &:last-child {
        margin-bottom: 0;
    }

    &--active {
        .team__name {
            color: $yellow;
        }
        .team__content{
            height: 100%;
        }
    }
}

.team__content {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    height: 0;
    overflow: hidden;
}

.team__pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.team__desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}

.team__subtitle {
    font-family: 'ubuntu';
    font-weight: 700;
}

.team__text {
    margin-top: 22px;
    font-family: 'ubuntu';
    font-weight: 300;
}

.team__name, .team__subtitle, .team__text { 
    font-size: 14px;
    color: $white;
    font-style: normal;
}