/* WELCOME */

.welcome {
    background: url('../img/welcome/background.jpg') center center no-repeat;
    background-size: cover;
    overflow: inherit;
    height: 100vh;
    display: flex;
    align-items: center;
}

.welcome__container {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner__img {
    width: 451px;
    height: 424px;
}

.banner__description {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding-left: 28px;
    padding-top: 137px;
}

.title {
    font-family: 'gagalin';
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
    color: #f9b43b;
}

.banner__title {
    display: inline-block;
}

.banner__text {
    font-family: 'lifehack';
    font-weight: 500;
    font-style: normal;
    font-size: 65px;
    color: $white;
    display: inline-block;
    margin-top: 19px;
    line-height: 61px;
    letter-spacing: -2px;
}

.welcome__arrow {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 40px;
}

.welcome__arrow-link {
    width: 29px;
    height: 14px;
    background: url(../img/welcome/arrow-scroll.png);
}